// Variables
// In _variables.scss

$black: #222222;
$white: #ffffff;
$blue-gray: #596E79;
$red: #FF8181;
$yellow: #FFDC4A;
$green: #2DC75C;
$light-beige: #F0ECE2;
$beige: #C7B198;
$beige-gray: #DFD3C3;
$dark-green: #28423F;
$light: #FEFFE4;
$background-color: #F0ECE2;
